.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg?w=2000);
}

.loginPage h1 {
  text-align: center;
  padding: 20px;
}

.loginPage form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.loginPage input[type="text"],
.loginPage input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.loginPage button[type="submit"] {
  width: 100%;
  background-color: #66babf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginPage button[type="submit"]:hover {
  background-color: #75c0c3;
}

.loginPage .register {
  width: 20%;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: #818181;
  border: 2px solid #bed3de;
  border-radius: 4px;
}