.registerPage {
  width: 100%;
  border-radius: 4px;
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.registerPage form {
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.registerPage h1 {
  text-align: center;
  padding: 20px;
}

.registerPage label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.registerPage input[type="text"],
.registerPage input[type="password"],
.registerPage input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerPage input[type="text"]:focus,
.registerPage input[type="password"]:focus,
.registerPage input[type="email"]:focus {
  border: 1px solid #555;
}

.registerPage button[type="submit"] {
  width: 100%;
  background-color: #66babf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerPage button[type="submit"]:hover {
  background-color: #75c0c3;
}

.loginPage .login {
  width: 100%;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: #818181;
  border: 2px solid #bed3de;
  border-radius: 4px;
}